name: Build module

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Get versions
        run: |
          VERSION=$(gh release view --repo JoeBlakeB/ttf-twemoji --json tagName --jq .tagName)
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          PREVIOUS_VERSION=$(git describe --tags --abbrev=0)
          echo "PREVIOUS_VERSION=$PREVIOUS_VERSION" >> $GITHUB_ENV
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Check version bump
        run: |
          if [[ ${{ env.VERSION }} > ${{ env.PREVIOUS_VERSION }} ]]; then
            echo 'new version found: ${{ env.VERSION }} > ${{ env.PREVIOUS_VERSION }}'
            echo 'UPDATE=true' >> $GITHUB_ENV
          else
            echo 'no new version found: ${{ env.VERSION }} <= ${{ env.PREVIOUS_VERSION }}'
            echo 'UPDATE=false' >> $GITHUB_ENV
          fi
      - name: Download release assets
        if: env.UPDATE == 'true'
        uses: robinraju/release-downloader@v1
        with:
          repository: JoeBlakeB/ttf-twemoji
          tag: ${{ env.VERSION }}
          fileName: 'Twemoji-${{ env.VERSION }}.ttf'
          out-file-path: 'system/fonts'
      - name: Bump
        if: env.UPDATE == 'true'
        run: |
          VERSION_NAME=v${{ env.VERSION }}
          VERSION_CODE=$(echo ${{ env.VERSION }} | tr -d '.')
          sed -i "s/^version=.*/version=$VERSION_NAME/" module.prop
          sed -i "s/^versionCode=.*/versionCode=$VERSION_CODE/" module.prop
          jq --arg ver "$VERSION_NAME" \
             --arg verCode "$VERSION_CODE" \
             '.version = $ver | .versionCode = ($verCode | tonumber)' update.json > update.json.tmp && mv update.json.tmp update.json
          echo 'Bump to ${{ env.VERSION }}' > changelog.txt
      - name: Create artifact
        if: env.UPDATE == 'true'
        run: |
          mv 'system/fonts/Twemoji-${{ env.VERSION }}.ttf' 'system/fonts/NotoColorEmoji.ttf'
          zip -r ttf-twemoji-ksu.zip system module.prop
      - name: Commit
        if: env.UPDATE == 'true'
        uses: EndBug/add-and-commit@v9
        with:
          add: 'module.prop update.json changelog.txt'
          author_name: 'github-actions[bot]'
          author_email: 'github-actions[bot]@users.noreply.github.com'
          message: 'Bump to ${{ env.VERSION }}'
      - name: Upload artifact to release
        if: env.UPDATE == 'true'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ttf-twemoji-ksu.zip
          asset_name: ttf-twemoji-ksu.zip
          tag: ${{ env.VERSION }}
          overwrite: true
          release_name: ttf-twemoji-ksu ${{ env.VERSION }}
